<main>
  <div>
    <div id="record"></div>
    <div class='bg'>
      <div  id="amplitude"></div>
      <div  id="spectrum"><span>8khz</span></div>
    </div>
  </div>
  <div id='music'>
    <textarea id = "pathvideo" rows="6" cols="50"></textarea>
    <div id="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/-wTLvPuFK7I" 
      frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen></iframe>
    </div>
  </div>
  <div id="chanbg"></div>
  <input type="file" name="pic" accept="image/*" id="choose">
  
</main>
<h5>design by dinh nam</h5>
